@import "variables";

:root {
  --color-header: #{$COLOR_WHITE};
  --color-base: #{$COLOR_LIGHT_GRAY};
  --color-text: #{$COLOR_BLACK};
  --color-gray: #606060;
  --color-blue: #065fd4;

  @media (prefers-color-scheme: dark) {
    --color-header: #{$COLOR_DARK_GRAY};
    --color-base: #{$COLOR_BLACK};
    --color-text: #{$COLOR_WHITE};
    --color-gray: #888888;
    --color-blue: #3ea6ff;
  }
}
